<form>
  From:<select name="frmCurrency" [(ngModel)]="optn1" id="fromCurrency">
    <option value="1.126735">USD</option>
    <option value="79.677056">INR</option>
    <option value="0.876893">GBP</option>
  </select><br>
  To:<select name="tCurrency" [(ngModel)]="optn2" id="toCurrency">
    <option value="1.126735">USD</option>
    <option value="79.677056">INR</option>
    <option value="0.876893">GBP</option>
  </select>
  <input type="number"[(ngModel)]="amnt" name="amount" id="amount">
  <input type="button" value="convert" id="submitButton" (click)="exchange(optn1,optn2,amnt)">
  <input type="text" [(ngModel)]="res" id="result">
  <p id="resValue">{{result}}</p>
  </form>